.line-round {
    margin-left: 80%;
    transform: translateY(-50%) scale(1) ;
}

.box-shadow {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}
